<div class="d-flex flex-wrap justify-content-between" data-influencer-target="product" data-search-influencers-target="list">
  <% @influencers.each do |influencer| %>
    <%= render "card_influencer", influencer: influencer %>
  <% end %>
</div>
