<div class="card-influencer-container" data-influencer-target="product" data-search-influencers-target="list">
  <% @influencers.each do |influencer| %>
    <%= render "card_influencer", influencer: influencer %>
  <% end %>
</div>
