<div class="container py-5" data-controller="influencer">
  <div class="d-flex justify-content-between">
    <h1 class="my-5">Influencers</h1>
    <button type="button" class="btn create-btn proposal-btn" style="margin-bottom:50px;" data-influencer-target="btn" data-action="click->influencer#sendProposal" data-id="" data-toggle="modal" data-target="#selectProposalModal">Send Proposal</button>
  </div>
  <div data-controller="search-influencers">
    <%= render "search_bar" %>
    <%= render "list_influencers" %>
  </div>
</div>
<%= render "./shared/modal_select_influencer", influencer: @influencer, proposals: @proposals, modal_title: "Select an Influencer"%>
