// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "sans-serif";
$headers-font: "Inter", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Inter";
  src: font-url('/assets/fonts/orangejuice.ttf');
}
// $my-font: "Inter";

h1 {
  font-size: 40px;
  font-weight: 600;
  color: rgb(20,33,61);
}

h2 {
  font-size: 32px;
  font-weight: 400;
  color: rgb(20,33,61);
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: rgb(20,33,61);
}

p {
  font-size: 16px;
  font-weight: 200px;
  color: rgb(20,33,61);
}
