<div class="media-heading">
  <p class="m-0 p-0">
    <strong><%= notification.actor.role == "Business" ? notification.actor.business.company_name : "#{notification.actor.first_name} #{notification.actor.last_name}" %></strong>
    has <strong><span style="color: #FA6A57">declined</span></strong> your request to collaborate.
  </p>
  <p class="m-0 p-0" style="font-size: 12px">Campaign: <strong><%= link_to notification.second_target.name, main_app.campaign_path(notification.second_target) %></strong></p>
  <p class="m-0 p-0" style="font-size: 12px">Collaboration: <strong><%= notification.target.title %></strong></p>
</div>
