<div class="media-heading">
  <p class="m-0 p-0">
    <strong><%= notification.actor.business.company_name %></strong> has marked the collaboration as <strong><span style="color: #5CDB5C">paid</span></strong>.
  </p>
  <p class="m-0 p-0" style="font-size: 12px">Campaign: <strong><%= link_to notification.second_target.name, main_app.proposals_path %></strong></p>
  <p class="m-0 p-0" style="font-size: 12px">Collaboration: <strong><%= notification.target.title %></strong></p>
</div>
