<% @show = proposal %>
<button type="button" data-toggle="modal" data-target="#modal-<%= proposal.id %>" data-proposal="@show">
  <div class="proposal-card">
    <h5><%= proposal.title %></h5>
    <p><%= proposal.status %></p>
    <p><%#= proposal.influencer.user.first_name %> <%#= proposal.influencer.user.last_name %></p>
  </div>
</button>
