<div class="card-proposal">
  <img class="avatar-bordered" src="https://images.unsplash.com/photo-1605405748313-a416a1b84491?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8cG9ydHJhaXR8fHx8fHwxNjM3ODQ3MTgw&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600">
  <h6>
    <% if proposal.influencer %>
      <%= proposal.influencer.user.first_name + ' ' + proposal.influencer.user.last_name%>
      <% case proposal.influencer.gender %>
      <% when "Male" %>
        <i class="fas fa-male"></i>
      <% when "Female" %>
        <i class="fas fa-female"></i>
      <% end %>
    <% end %>
  </h6>
  <p class="card-proposal-title"><%= proposal.title %></p>
  <p class="card-proposal-status"><%= proposal.status %></p>
</div>
