<% if user_signed_in? %>
  <div>
    <div id="mySidebar" class="sidebar" data-side-bar-target="sidebar">
      <%= link_to "Statistics", dashboard_path %>
      <%= link_to "Campaigns", campaigns_path %>
      <%= link_to "Influencers", influencers_path %>
      <%#= link_to "Reviews", reviews_path %>
      <%= link_to "Profile", user_path(current_user) %>
    </div>
  </div>
<% end %>
