<%if @campaigns.size == 0 %>
  <div class="d-flex justify-content-between my-5">
    <h4>You have no active campaigns at the moment. Create your first campaign now!</h4>
  </div>
<%else%>
  <div class="cards-statistic">
    <div class="card-statistic position margin-style">
      <div class="card-statistic-circle">
        <strong><%= @campaigns.select { |c| !c.archived }.size %></strong>
        <p>My current campaigns</p>
      </div>
    </div>

    <div class="card-statistic">
      <div class="card-statistic-circle">
        <strong><%= @campaigns.size %></strong>
        <p>All my campaigns</p>
      </div>
    </div>

    <div class="card-statistic position">
      <div class="card-statistic-circle">
        <% campaign = @campaigns.max_by { |c| c.end_date - c.start_date } %>
        <% weeks = (( campaign.end_date - campaign.start_date ) / 7 ).ceil %>
        <%= weeks.to_s + " #{weeks > 1 ? 'weeks' : 'week'}" %>
        <p>My longest campaign</p>
      </div>
    </div>

    <div>
    </div>

    <div class="card-statistic">
      <div class="card-statistic-circle">
        <strong><%= @sum_eng_rate % 1000 %>k</strong>
        <p>My total reach</p>
      </div>
    </div>
  </div>
<% end %>
