<div class="container py-5 my-5">
  <h1>Statistics</h1>
  <% if current_user.role == 'Business' %>
    <%= render 'dashboard_business' %>
  <% elsif current_user.role == 'Influencer' %>
    <%= render 'dashboard_influencer' %>
  <% end %>
</div>
