<div class="container">
  <% if current_user.role == "Business" %>
    <h1>Welcome, Business!</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  <% elsif current_user.role == "Influencer" %>
    <h1>Welcome, Influencer!</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  <% end %>
</div>
