
<div class="container py-5">
  <div class="d-flex justify-content-between">
    <h1 class='my-5'>Notifications</h1>
    <%= link_to t('notifications.clean_all'), notifications.clean_notifications_path, class: 'btn btn-create my-5', method: 'delete' %>
  </div>
  <div class="list">
    <% if @notifications.blank? %>
      <div class="no-records"><%= t('notifications.no_records') %></div>
    <% else %>
      <% @notification_groups.each do |group, notifications| %>
        <div class="notification-group">
          <div class="group-title"><%#= group %></div>
          <%= render notifications %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @notifications %>
</div>
