// Homepage Button
.btn-home {
  opacity: 1;
  size: 24px;
  color: $orange;
  border: none;
  background-color: $blue;
}
.btn-home:hover {
  size: 24px;
  color: $orange;
  border: none;
  background-color: $blue;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}


// Sign In & Sign Up
.btn-login {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: rgba(252,163,17,0.9) !important;
}
.btn-login:hover {
  border: none;
  color: $blue;
  background-color: $orange !important;
}

.btn-signup {
  width: 100% !important;
  margin-bottom: 20px;
  border: none;
  color: white;
  background-color: rgba(20,33,61,0.9) !important;
}
.btn-signup:hover {
  border: none;
  color: $orange;
  background-color: $blue !important;
}


// Profile Page Buttons
.btn-edit {
  width: 50px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  border: none;
  color: white;
  background-color: rgba(252,163,17,0.9) !important;
}
.btn-edit:hover {
  border: none;
  color: $blue;
  background-color: $orange !important;
}


// Campaigns Index
.btn-search {
  padding: 0px 10px;
  width: 100%;
  border: none;
  color: white;
  background-color: rgba(20,33,61,0.9) !important;
}
.btn-search:hover {
  border: none;
  color: $orange;
  background-color: $blue !important;
}

.btn-create {
  border: solid 2px $orange;
  color: $blue;
  background-color: rgba(252,163,17,0.9) !important;
  }
.btn-create:hover {
  border: solid 2px $blue;
  color: $blue;
  background-color: $orange !important;
}

.form-links {
  color: $blue;
}
