.campaign-card-info {
  margin: 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
  h4 {
    font-weight: 400
  }
  i {
    font-size: 24px;
    padding: 24px;
  }
  p {
    font-size: 24px;
    font-weight: 400;
  }
  .campaign-card-small-text {
    font-size: 16px;
  }
}

.large-details-card {
  width: calc(100% - 64px) !important;
  margin: 32px 32px 64px 32px;
  padding: 0px;
  h4, p {
    padding: 16px;
  }
}

.campaign-status {
  text-align: right;
  margin-right: 32px;
}

.blue-bar {
  width: 100%;
  margin: 0px;
  color: white;
  background-color: $blue;
  opacity: .85;
  h4 {
    padding: 16px;
    margin-bottom: 0px;
  }
  opacity: 0.85;
}

// .center-content {
//   display: flex;
//   justify-self: center;
//   align-self: center;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }
