.card-influencer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.card-influencer {
  background-color: white;
  border: solid 2px transparent;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  padding: 32px;
  text-align: center;
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.card-icon {
  font-size: 20px;
}

.selected {
  border: solid 2px $blue;
}

.proposal-btn {
  pointer-events: none;
}

.proposal-btn-active {
  pointer-events: all !important;
}
