.card-container {
  margin-bottom: 50px;
}
.card-proposal {
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(20,33,61,0.5);
  p {
    margin: 0;
  }
  h6 {
    margin: 0 0 0 24px;
    width: 320px;
  }
}

.card-proposal:hover {
  background-color: #EEEEEE;
}

.card-proposal-title{
  margin-left: 50px;
  flex-grow: 1;
}

.card-proposal img {
  object-fit: cover;
}

.card-proposal-status {
  background-color: lightgrey;
  padding: 4px 8px;
  border-radius: 4px;
}
