.card-campaign-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.card-campaign-small {
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  padding: 32px;
  opacity: 0.85;
  text-align: center;
  h6 {
    margin: 12px 0;
  }
  p {
    margin: 0 0 4px 0;
  }
}
