.proposals-group, .campaigns-group{
  margin-bottom: 50px;
}

.card-container {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.5s;
}
.card-container-shrinked {
  max-height: 0;
}

.card-proposal {
  background-color: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(20,33,61,0.5);
  height: 96px;
  p {
    margin: 0;
  }
  h6 {
    margin: 0 0 0 24px;
    width: 216px;
  }
}

.card-proposal:hover {
  background-color: #EEEEEE;
}

.card-proposal-title{
  margin-left: 50px;
  flex-grow: 1;
}

.card-proposal img {
  object-fit: cover;
}

.card-proposal-outer {
  position: relative;
  .card-proposal-status.accept {
    position: absolute;
    top:32px;
    right: 96px;
    z-index: 10;
  }
  .card-proposal-status.decline {
    position: absolute;
    top:32px;
    right: 24px;
    z-index: 10;
  }
  .card-proposal-status {
    position: absolute;
    top:32px;
    right: 24px;
  }
  .card-proposal-status.mark-as-done {
    position: absolute;
    top:32px;
    right: 136px;
    z-index: 10;
  }
  .card-proposal-status.mark-as-paid {
    position: absolute;
    top:32px;
    right: 184px;
    z-index: 10;
  }
}
.card-proposal-status {
  background-color: lightgrey;
  padding: 4px 8px;
  border-radius: 4px;
  top:32px;
  right: 24px;
}
.card-proposal-status.accept {
  border: none;
  background-color: rgb(110, 241, 215);
  margin-right: 8px;
  &:hover{
    opacity:0.7;
  }
}
.card-proposal-status.decline {
  border: none;
  background-color: rgb(241, 125, 110);
  &:hover{
    opacity:0.7;
  }
}
.card-proposal-status.mark-as-done {
  border: none;
  background-color: rgb(110, 241, 215);
  &:hover{
    opacity:0.7;
  }
}

.card-proposal-status.mark-as-paid {
  border: none;
  background-color: rgb(110, 241, 215);
  &:hover{
    opacity:0.7;
  }
}
