.cards-statistic {
  margin-top: 20px;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 900px;
  margin: 0 auto;
}
.card-statistic {
  .card-statistic-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 230px;
    width: 230px;
    border-radius: 50%;
    border: 2px solid $blue;
    color: white;
    background-color: $blue;
    font-size: 30px;
    padding: 16px;
    box-shadow: 0 0 40px rgba(0,0,0,0.15);
    margin: 15px 0;
    opacity: 0.85;
  }
  p {
    text-align: center;
    margin: 0;
    color: white;
  }
  strong {
    font-size: 30px;
  }
}

.position {
  position: relative;
  top: 130px;
}

.margin-style {
  margin-bottom: 32px
}

.card-statistic-circle:hover {
  box-shadow: 0 0 20px $blue;
  transform: scale(1.02);
  transition-timing-function: ease-in-out;
  transition: all.3s ease-in-out;
}
