.dropdown-header {
  background-color: $blue;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  h4{
    margin: 0;
  }
  opacity: 0.85;
}
.fa-caret-up, .fa-caret-down {
  font-size: 24px;
}

.ds-none {
 display: none
}
