.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
  p {
    color: white;
  }
  a.nav-link {
    color: white !important;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  a.nav-link:hover {
    opacity:0.7;
  }
  i {
    font-size: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border: white;
}

.navbar-lewagon-blue {
  background-color: $blue;
}

.nav-tabs {
  border-bottom: 1px solid rgba($blue,0.15);
}

.nav-tabs .nav-link {
  margin-right: 3px;
  border: none;
  color: rgba($blue,0.5);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  color: $blue;
  border: none;
  border-bottom: 2px solid $blue;
}

.navbar-lewagon .avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0px 5px rgba(0,0,0,0.2);
  border: white 2px solid;
  object-fit: cover;
  background-color: white;
}
