.main-container {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 35px 20px 0px 20px;
  margin-left: 250px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 1fr auto;
}

.fa-angle-left, .fa-angle-right {
  margin-top: 22%;
  background-color: $blue;
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 20px 8px;
  position: fixed;
  font-size: 32px;
  top: 65px;
  left: 200px;
  transition: left .5s; /* If you want a transition effect */
  opacity: 0.85;
}
.fa-angle-left:hover, .fa-angle-right:hover {
  opacity:1;
}
.sidebar {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  width:200px;
  top: 0;
  left: 0;
  background-color: $blue;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  padding-top: 80px; /* Place content 60px from the top */
  opacity: 0.85;
  .active {
    color: $orange;
  }
}
.main-expanded {
  margin-left: 0px !important;

}
.sidebar-shrinked {
  width: 0px !important; /* 0 width - change this with JavaScript */
}
.button-to-left {
  left: 0px !important; /* 0 width - change this with JavaScript */
}


/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #CCCCCC;
  display: block;
  transition: 0.3s;
}

.sign-out-btn {
  position: absolute;
  bottom: 10px;
  font-size: 10px;
  width: 100%;
}

/* When you mouse over the navigation links, change their color */
.sidebar a.active, .sidebar a:hover {
  color: $orange;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
