<%if @campaigns.size == 0 %>
  <h1>Campaigns Overview</h1>
  <div class="d-flex justify-content-between">
    <h3>You have no active campaigns</h3>
    <button type="button" class="btn-create" data-toggle="modal" data-target="#createCampaignModal">Create new campaign</button>
  </div>
<%else%>
  <div class="d-flex justify-content-between">
    <h1>Campaigns Overview</h1>
    <!-- Button for creating new campaign -->
    <button type="button" class="btn-create" style="margin-bottom: 50px;" data-toggle="modal" data-target="#createCampaignModal">Create new campaign</button>
  </div>
  <!-- Render the search bar-->
  <%= render "search_bar" %>
  <div class="open-campaigns" data-controller="dropdown">
    <div class="dropdown-header">
      <h4>Open Campaigns</h4>
      <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
    </div>
    <div class="card-container" data-dropdown-target="container">
      <%@open_campaigns.each do |campaign|%>
        <!-- Render the cards for open campaigns-->
        <%= render "card_campaign", campaign: campaign %>
      <% end %>
    </div>
  </div>
  <div class="closed-campaigns" data-controller="dropdown">
    <div class="dropdown-header">
      <h4>Closed Campaigns</h4>
      <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
    </div>
    <div class="card-container" data-dropdown-target="container">
    <%@closed_campaigns.each do |campaign|%>
        <!-- Render the cards for closed campaigns-->
      <%= render "card_campaign", campaign: campaign %>
    <% end %>
    </div>
  </div>
<%end%>

<!-- Render the Create campaign modal-->
<%= render "./shared/modal_create_campaign", campaign: @campaign, business: @business, modal_title: "Create a Campaign"%>
