<%if @campaigns.size == 0 %>
  <h1 class="my-5">Campaigns Overview</h1>
  <div class="d-flex justify-content-between">
    <h4>You have no active campaigns</h4>
    <button type="button" class="btn-create my-5" data-toggle="modal" data-target="#createCampaignModal">Create new campaign</button>
  </div>
<%else%>
  <div class="d-flex justify-content-between">
    <h1 class="my-5">Campaigns Overview</h1>
    <!-- Button for creating new campaign -->
    <button type="button" class="btn-create my-5" data-toggle="modal" data-target="#createCampaignModal">Create new campaign</button>
  </div>

  <!-- Render the search bar-->
  <div data-controller="search-campaigns">
    <%= render "search_bar" %>
    <div data-search-campaigns-target="list">
      <%= render "list_campaign" %>
    </div>
  </div>
<%end%>

<!-- Render the Create campaign modal-->
<%= render "./shared/modal_create_campaign", campaign: @campaign, business: @business, modal_title: "Create a Campaign"%>
