<div class="container py-5">
  <% if current_user.role == 'Business' %>
    <%= render 'index_business' %>
  <% elsif current_user.role == 'Influencer' %>
    <h1>Campaigns</h1>
    <%= render 'index_influencer' %>
  <% end %>
</div>
