<div class="container py-5">
<%if @campaigns.size == 0 %>
    <div class="d-flex justify-content-between">
      <h1>You have no active campaigns</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create new campaign</button>
    </div>
  <%else%>
    <div class="d-flex justify-content-between">
      <h1>Campaigns Overview</h1>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Create new campaign</button>
    </div>
    <%= render "search_bar" %>
    <%= render "./shared/modal", campaign: @campaign, modal_title: "Create a Campaign", button_name: "Create campaign"%>
    <div class="open-campaigns" data-controller="dropdown">
      <div class="campaign-header">
        <h4>Open Campaigns</h4>
        <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
      </div>
      <div class="card-container" data-dropdown-target="container">
        <%@open_campaigns.each do |campaign|%>
          <%= render "campaign_cards", campaign: campaign %>
        <% end %>
      </div>
    </div>
    <div class="closed-campaigns" data-controller="dropdown">
      <div class="campaign-header">
        <h4>Closed Campaigns</h4>
        <div class="dropdown-btn fas fa-caret-up" data-dropdown-target="btn" data-action="click->dropdown#toggleContent"></div>
      </div>
      <div class="card-container" data-dropdown-target="container">
      <%@closed_campaigns.each do |campaign|%>
        <%= render "campaign_cards", campaign: campaign %>
      <% end %>
      </div>
    </div>
  <%end%>
</div>
