<div class="container py-5">
  <% if current_user.role == 'Business' %>
    <%= render 'index_business' %>
  <% elsif current_user.role == 'Influencer' %>
    <h1>Campaigns</h1>
    <div data-controller="search-campaigns">
      <%= render "search_bar" %>
      <div class="card-campaign-container" data-search-campaigns-target="list" >
        <%= render "list_campaign" %>
      </div>
    </div>
  <% end %>
</div>
