<div class="container py-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="collaborations-tab" data-toggle="tab" href="#collaborations" role="tab" aria-controls="collaborations" aria-selected="false">Collaborations</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="incoming-tab" data-toggle="tab" href="#incoming" role="tab" aria-controls="incoming" aria-selected="false">Incoming Proposals</a>
    </li>
  </ul>

  <div class="tab-content py-5" id="myTabContent">

    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
      <%= render 'details_tab', campaign: @campaign %>
    </div>

    <div class="tab-pane fade" id="collaborations" role="tabpanel" aria-labelledby="collaborations-tab">
      <%= render 'collaborations_tab', proposals: @proposals %>
    </div>

    <div class="tab-pane fade" id="incoming" role="tabpanel" aria-labelledby="incoming-tab">
      <% @campaign.proposals.each do |proposal| %>
        <% if proposal.creator == "Influencer" %>
          <%= render 'proposal_card', proposal: proposal %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
